-- Correção das políticas RLS para permitir operações de escrita
-- Execute este arquivo no painel SQL do Supabase

-- OPÇÃO 1: Desabilitar RLS temporariamente (mais simples para desenvolvimento)
-- Descomente as linhas abaixo se quiser desabilitar RLS completamente:

/*
ALTER TABLE public.pedidos DISABLE ROW LEVEL SECURITY;
ALTER TABLE public.itens_pedido DISABLE ROW LEVEL SECURITY;
ALTER TABLE public.estoque DISABLE ROW LEVEL SECURITY;
ALTER TABLE public.movimentacoes_estoque DISABLE ROW LEVEL SECURITY;
ALTER TABLE public.clientes DISABLE ROW LEVEL SECURITY;
ALTER TABLE public.produtos DISABLE ROW LEVEL SECURITY;
*/

-- OPÇÃO 2: Criar políticas adequadas (recomendado)
-- Remover políticas existentes que são muito restritivas

-- Políticas para PEDIDOS
DROP POLICY IF EXISTS "Permitir leitura de pedidos" ON public.pedidos;
DROP POLICY IF EXISTS "Usuários autenticados podem ler pedidos" ON public.pedidos;
DROP POLICY IF EXISTS "Authenticated users can manage orders" ON public.pedidos;

-- Criar políticas completas para pedidos
CREATE POLICY "Permitir todas operações em pedidos" ON public.pedidos
    FOR ALL USING (true);

-- Políticas para ITENS_PEDIDO
DROP POLICY IF EXISTS "Permitir leitura de itens_pedido" ON public.itens_pedido;
DROP POLICY IF EXISTS "Usuários autenticados podem ler itens_pedido" ON public.itens_pedido;
DROP POLICY IF EXISTS "Authenticated users can manage order items" ON public.itens_pedido;

CREATE POLICY "Permitir todas operações em itens_pedido" ON public.itens_pedido
    FOR ALL USING (true);

-- Políticas para ESTOQUE
DROP POLICY IF EXISTS "Permitir leitura de estoque" ON public.estoque;
DROP POLICY IF EXISTS "Anyone can view stock" ON public.estoque;

CREATE POLICY "Permitir todas operações em estoque" ON public.estoque
    FOR ALL USING (true);

-- Políticas para MOVIMENTAÇÕES_ESTOQUE
DROP POLICY IF EXISTS "Permitir leitura de movimentacoes_estoque" ON public.movimentacoes_estoque;

CREATE POLICY "Permitir todas operações em movimentacoes_estoque" ON public.movimentacoes_estoque
    FOR ALL USING (true);

-- Políticas para CLIENTES
DROP POLICY IF EXISTS "Permitir leitura de clientes" ON public.clientes;
DROP POLICY IF EXISTS "Authenticated users can manage clients" ON public.clientes;

CREATE POLICY "Permitir todas operações em clientes" ON public.clientes
    FOR ALL USING (true);

-- Políticas para PRODUTOS
DROP POLICY IF EXISTS "Permitir leitura de produtos" ON public.produtos;
DROP POLICY IF EXISTS "Anyone can view products" ON public.produtos;

CREATE POLICY "Permitir todas operações em produtos" ON public.produtos
    FOR ALL USING (true);

-- Políticas para ENTREGAS
DROP POLICY IF EXISTS "Permitir leitura de entregas" ON public.entregas;

CREATE POLICY "Permitir todas operações em entregas" ON public.entregas
    FOR ALL USING (true);

-- Políticas para TRANSFERÊNCIAS_ESTOQUE
CREATE POLICY "Permitir todas operações em transferencias_estoque" ON public.transferencias_estoque
    FOR ALL USING (true);

-- Políticas para LOG_OPERAÇÕES_AUTOMÁTICAS
CREATE POLICY "Permitir todas operações em log_operacoes_automaticas" ON public.log_operacoes_automaticas
    FOR ALL USING (true);

-- Políticas para AUDITORIA
DROP POLICY IF EXISTS "Users can view own profile" ON public.usuarios;
DROP POLICY IF EXISTS "Users can update own profile" ON public.usuarios;

CREATE POLICY "Permitir todas operações em auditoria" ON public.auditoria
    FOR ALL USING (true);

-- Políticas para USUÁRIOS
CREATE POLICY "Permitir todas operações em usuarios" ON public.usuarios
    FOR ALL USING (true);

-- Políticas para PERFIS
CREATE POLICY "Permitir todas operações em perfis" ON public.perfis
    FOR ALL USING (true);

-- Políticas para SESSÕES
CREATE POLICY "Permitir todas operações em sessoes" ON public.sessoes
    FOR ALL USING (true);

-- Políticas para TENTATIVAS_LOGIN
CREATE POLICY "Permitir todas operações em tentativas_login" ON public.tentativas_login
    FOR ALL USING (true);

-- Políticas para CONFIGURAÇÕES_RELATÓRIOS
CREATE POLICY "Permitir todas operações em configuracoes_relatorios" ON public.configuracoes_relatorios
    FOR ALL USING (true);

-- Garantir que RLS está habilitado nas tabelas principais
ALTER TABLE public.pedidos ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.itens_pedido ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.estoque ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.movimentacoes_estoque ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.clientes ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.produtos ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.entregas ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.transferencias_estoque ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.log_operacoes_automaticas ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.auditoria ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.usuarios ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.perfis ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.sessoes ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.tentativas_login ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.configuracoes_relatorios ENABLE ROW LEVEL SECURITY;

-- Verificar se as políticas foram criadas corretamente
SELECT schemaname, tablename, policyname, permissive, roles, cmd, qual 
FROM pg_policies 
WHERE schemaname = 'public' 
ORDER BY tablename, policyname;
